html, body {
  height: 100%;
}

body {
  background: #F8F9FA;
  font-family: 'Raleway', sans-serif;
  color: #868e96;
}

a {
  text-transform: uppercase;
  color: #868e96;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

a:hover {
  color: #212529;
}

.header {
  margin: 2rem 0;
  font-weight: 100;
  line-height: 1.35em;
  color: #212529;
}

@media screen and (max-width: 544px) {
  .header {
    font-size: 22px;
  }
}

.links > :not(:last-child){
  margin-right: 1rem;
}
